Approval-First Social Media Agent (1).json
{
  "name": "Approval-First Social Media Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "179799cd-c1b2-4543-a463-85eefdb7f5fc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2112,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "brand_name",
              "name": "brandName",
              "value": "Your Brand",
              "type": "string"
            },
            {
              "id": "audience",
              "name": "audience",
              "value": "Your ideal audience",
              "type": "string"
            },
            {
              "id": "voice",
              "name": "voice",
              "value": "Clear, trustworthy, concise, and human",
              "type": "string"
            },
            {
              "id": "platform_targets",
              "name": "platformTargets",
              "value": "x,linkedin,facebook,instagram,tiktok",
              "type": "string"
            },
            {
              "id": "approval_slack_channel_id",
              "name": "approvalSlackChannelId",
              "value": "C0ARG1ZQEH2",
              "type": "string"
            },
            {
              "id": "tiktok_access_token",
              "name": "tiktokAccessToken",
              "value": "YOUR_TIKTOK_ACCESS_TOKEN",
              "type": "string"
            },
            {
              "id": "tiktok_video_url",
              "name": "tiktokVideoUrl",
              "value": "https://example.com/video.mp4",
              "type": "string"
            },
            {
              "id": "tiktok_privacy_level",
              "name": "tiktokPrivacyLevel",
              "value": "SELF_ONLY",
              "type": "string"
            },
            {
              "id": "tiktok_disable_duet",
              "name": "tiktokDisableDuet",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "tiktok_disable_comment",
              "name": "tiktokDisableComment",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "tiktok_disable_stitch",
              "name": "tiktokDisableStitch",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "linkedin_person_id",
              "name": "linkedinPersonId",
              "value": "YOUR_LINKEDIN_PERSON_ID",
              "type": "string"
            },
            {
              "id": "facebook_page_id",
              "name": "facebookPageId",
              "value": "YOUR_FACEBOOK_PAGE_ID",
              "type": "string"
            },
            {
              "id": "instagram_business_id",
              "name": "instagramBusinessId",
              "value": "YOUR_INSTAGRAM_BUSINESS_ID",
              "type": "string"
            },
            {
              "id": "instagram_image_url",
              "name": "instagramImageUrl",
              "value": "https://example.com/image.jpg",
              "type": "string"
            },
            {
              "id": "topic_bank",
              "name": "topicBank",
              "value": "education | Share a practical tip that helps the audience save time | Teach something useful\nbehind_the_scenes | Show what happens before a post goes live | Humanize the process\ntrust | Explain why consistency matters more than chasing virality | Build credibility\nfaq | Answer a question people ask often | Remove friction and confusion\nproof | Share a small, believable win or result | Keep it grounded\nproduct | Highlight one feature or service benefit | Make the value concrete\ncommunity | Offer something helpful with no hard sell | Build goodwill\npromo | Make a soft offer that feels natural | Encourage action without pressure",
              "type": "string"
            },
            {
              "id": "compliance_rules",
              "name": "complianceRules",
              "value": "Avoid false claims, guarantees, deceptive urgency, hate, harassment, confidential data, or policy-violating content. Keep it factual, platform-native, and helpful.",
              "type": "string"
            },
            {
              "id": "planning_mode",
              "name": "planningMode",
              "value": "daily",
              "type": "string"
            },
            {
              "id": "alert_slack_channel_id",
              "name": "alertSlackChannelId",
              "value": "C0AR91YNGVB",
              "type": "string"
            },
            {
              "id": "evergreen_library",
              "name": "evergreenLibrary",
              "value": "{\"pillars\":[\"education\",\"trust\",\"proof\",\"community\",\"promo\"],\"formats\":[\"short tip\",\"before/after\",\"myth vs fact\",\"FAQ\",\"behind the scenes\"]}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "22701ede-6237-4849-a834-04cf269495a2",
      "name": "Brand Profile",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1840,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst fallbackTopicBank = [\n  { pillar: 'education', topic: 'Share a practical tip that helps the audience save time', angle: 'Teach something useful', cta: 'Invite the reader to try the tip today.' },\n  { pillar: 'behind_the_scenes', topic: 'Show what happens before a post goes live', angle: 'Humanize the process', cta: 'Invite people to follow for more behind-the-scenes context.' },\n  { pillar: 'trust', topic: 'Explain why consistency matters more than chasing virality', angle: 'Build credibility', cta: 'Encourage the audience to stay consistent.' },\n  { pillar: 'faq', topic: 'Answer a question people ask often', angle: 'Remove friction and confusion', cta: 'Invite more questions in the comments.' },\n  { pillar: 'proof', topic: 'Share a small, believable win or result', angle: 'Keep it grounded', cta: 'Invite people to see the full process.' },\n  { pillar: 'product', topic: 'Highlight one feature or service benefit', angle: 'Make the value concrete', cta: 'Prompt the audience to learn more.' },\n  { pillar: 'community', topic: 'Offer something helpful with no hard sell', angle: 'Build goodwill', cta: 'Invite the audience to save or share the post.' },\n  { pillar: 'promo', topic: 'Make a soft offer that feels natural', angle: 'Encourage action without pressure', cta: 'Invite a low-friction next step.' }\n];\n\nconst bankLines = String(input.topicBank || '')\n  .split(/\\r?\\n/)\n  .map((line) => line.trim())\n  .filter(Boolean);\n\nconst parsedBank = bankLines.map((line) => {\n  const parts = line.split('|').map((part) => part.trim());\n  return {\n    pillar: parts[0] || 'education',\n    topic: parts[1] || line,\n    angle: parts[2] || 'Provide practical guidance',\n    cta: parts[3] || 'Invite the audience to engage.'\n  };\n});\n\nconst topicBank = parsedBank.length > 0 ? parsedBank : fallbackTopicBank;\nconst daySeed = Math.floor(Date.now() / 86400000);\nconst selected = topicBank[daySeed % topicBank.length];\nconst generatedAt = new Date().toISOString();\n\nconst prompt = `You are writing for ${input.brandName}.\nAudience: ${input.audience}\nVoice: ${input.voice}\nToday's pillar: ${selected.pillar}\nToday's topic: ${selected.topic}\nStrategic angle: ${selected.angle}\nCTA direction: ${selected.cta}\n\nEvergreen content guidance:\n${JSON.stringify(input.evergreenLibrary || { pillars: [\"education\", \"trust\", \"proof\", \"community\", \"promo\"] }, null, 2)}\n\nCompliance rules:\n${input.complianceRules}\n\nCreate platform-specific draft copy for X, LinkedIn, Facebook, Instagram, and TikTok. Each platform must feel native and meaningfully different.\nAlso gather 3 video ideas and pick the best one for this topic. Pick one that is easy to film, easy to edit, and likely to perform well.\nReturn ONLY valid JSON with this exact structure:\n{\n  \"theme\": string,\n  \"strategic_angle\": string,\n  \"content_strategy\": string,\n  \"video_ideas\": [string],\n  \"recommended_video_idea\": string,\n  \"publish_targets\": [\"x\", \"linkedin\", \"facebook\", \"instagram\", \"tiktok\"],\n  \"x\": { \"hook\": string, \"body\": string, \"cta\": string, \"hashtags\": [string] },\n  \"linkedin\": { \"hook\": string, \"body\": string, \"cta\": string, \"hashtags\": [string] },\n  \"facebook\": { \"hook\": string, \"body\": string, \"cta\": string, \"hashtags\": [string] },\n  \"instagram\": { \"caption\": string, \"hashtags\": [string] },\n  \"tiktok\": { \"hook\": string, \"caption\": string, \"video_direction\": string, \"cta\": string, \"hashtags\": [string] },\n  \"quality\": { \"score\": number, \"risks\": [string], \"notes\": [string] },\n  \"recommended_next_step\": string,\n  \"compliance_notes\": [string]\n}\n\nRules:\n- Do not use markdown fences.\n- Do not add commentary outside JSON.\n- Keep X concise and punchy.\n- Keep LinkedIn polished, clear, and value-driven.\n- Keep Facebook conversational and trustworthy.\n- Keep Instagram concise, visual-first, and caption-friendly.\n- Keep TikTok geared toward a short video concept with a clear hook and visual direction.\n- Avoid hype language.\n- Make the copy feel human and specific, not generic.\n- Include a strong hook, a useful body, a clear CTA, and relevant hashtags where appropriate.\n- Use a quality.score from 1 to 10, where 10 means highly confident, compliant, and platform-fit.\n- If the content is too risky for approval, set recommended_next_step to human_review.\n- Otherwise set recommended_next_step to approval_ready.`;\n\nreturn [{ json: { brandName: input.brandName, audience: input.audience, voice: input.voice, platformTargets: input.platformTargets, reviewRecipient: input.reviewRecipient, senderEmail: input.senderEmail, tiktokAccessToken: input.tiktokAccessToken, tiktokVideoUrl: input.tiktokVideoUrl, tiktokPrivacyLevel: input.tiktokPrivacyLevel, tiktokDisableDuet: Boolean(input.tiktokDisableDuet), tiktokDisableComment: Boolean(input.tiktokDisableComment), tiktokDisableStitch: Boolean(input.tiktokDisableStitch), linkedinPersonId: input.linkedinPersonId, facebookPageId: input.facebookPageId, instagramBusinessId: input.instagramBusinessId, instagramImageUrl: input.instagramImageUrl, complianceRules: input.complianceRules, evergreenLibrary: input.evergreenLibrary, evergreenLibraryGeneratedAt: input.evergreenLibraryGeneratedAt, generatedAt, selectedPillar: selected.pillar, selectedTopic: selected.topic, selectedAngle: selected.angle, selectedCtaDirection: selected.cta, videoIdeaCandidates: [`Hook-first short video on ${selected.topic}`, `Behind-the-scenes clip showing how ${selected.angle.toLowerCase()} works`, `Question-and-answer video that answers a common objection about ${selected.topic}`], prompt } }];"
      },
      "id": "8e509fb3-efe5-4981-9c6b-fc81df46170b",
      "name": "Content Planner",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a senior social media strategist and copywriter. Produce premium, platform-native copy that is accurate, calm, helpful, and safe. Return only valid JSON and do not use markdown fences."
        }
      },
      "id": "dfad448c-b66f-4976-a388-78468c0118a5",
      "name": "Content Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -672,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nfunction extractText(value) {\n  if (typeof value === 'string') return value;\n  if (!value || typeof value !== 'object') return value;\n  if (typeof value.output === 'string') return value.output;\n  if (typeof value.response === 'string') return value.response;\n  if (typeof value.text === 'string') return value.text;\n  if (typeof value.message === 'string') return value.message;\n  if (typeof value.content === 'string') return value.content;\n  if (Array.isArray(value.generations) && value.generations[0]?.[0]?.text) return value.generations[0][0].text;\n  return value;\n}\n\nconst candidate = extractText(input);\nlet parsed = candidate;\nlet parseError = null;\n\nif (typeof candidate === 'string') {\n  const cleaned = candidate.trim().replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```$/i, '');\n  try {\n    parsed = JSON.parse(cleaned);\n  } catch (error) {\n    parseError = error.message;\n    parsed = null;\n  }\n}\n\nconst requiredPlatforms = ['x', 'linkedin', 'facebook', 'instagram', 'tiktok'];\nconst validationIssues = [];\nconst warnings = [];\n\nif (!parsed) {\n  validationIssues.push('json_parse_failed');\n}\n\nfor (const platform of requiredPlatforms) {\n  const platformData = parsed?.[platform];\n  if (!platformData) {\n    validationIssues.push(`${platform}_missing`);\n    continue;\n  }\n\n  if (platform === 'instagram') {\n    if (!platformData.caption) validationIssues.push('instagram_caption_missing');\n  } else if (platform === 'tiktok') {\n    if (!platformData.hook || !platformData.caption || !platformData.video_direction || !platformData.cta) {\n      validationIssues.push('tiktok_missing_required_fields');\n    }\n  } else if (!platformData.hook || !platformData.body || !platformData.cta) {\n    validationIssues.push(`${platform}_missing_required_fields`);\n  }\n\n  if (!Array.isArray(platformData.hashtags)) {\n    validationIssues.push(`${platform}_hashtags_missing`);\n  }\n}\n\nconst flatText = [\n  parsed?.theme,\n  parsed?.strategic_angle,\n  parsed?.content_strategy,\n  parsed?.x?.hook,\n  parsed?.x?.body,\n  parsed?.x?.cta,\n  parsed?.linkedin?.hook,\n  parsed?.linkedin?.body,\n  parsed?.linkedin?.cta,\n  parsed?.facebook?.hook,\n  parsed?.facebook?.body,\n  parsed?.facebook?.cta,\n  parsed?.instagram?.caption,\n  parsed?.tiktok?.hook,\n  parsed?.tiktok?.caption,\n  parsed?.tiktok?.video_direction,\n  parsed?.tiktok?.cta\n].filter(Boolean).join(' ').toLowerCase();\n\nconst bannedPatterns = [/guarantee/i, /100%/i, /miracle/i, /cure/i, /medical advice/i, /diagnos/i, /treat/i, /false scarcity/i, /best plan for everyone/i, /no risk/i];\nconst bannedHits = bannedPatterns.filter((pattern) => pattern.test(flatText));\nif (bannedHits.length > 0) {\n  warnings.push(`risky_language:${bannedHits.length}`);\n}\n\nconst containsEmail = /[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i.test(flatText);\nconst containsPhone = /(?:\\+?\\d{1,2}[\\s.-]?)?(?:\\(?\\d{3}\\)?[\\s.-]?)\\d{3}[\\s.-]?\\d{4}/.test(flatText);\nif (containsEmail || containsPhone) {\n  warnings.push('contact_info_detected');\n}\n\nconst tiktokVideoReady = typeof input.tiktokVideoUrl === 'string' && /^https?:\\/\\//i.test(input.tiktokVideoUrl);\nconst tiktokTokenReady = typeof input.tiktokAccessToken === 'string' && input.tiktokAccessToken.length > 10 && !input.tiktokAccessToken.startsWith('YOUR_');\nif (!tiktokVideoReady) warnings.push('tiktok_video_url_missing');\nif (!tiktokTokenReady) warnings.push('tiktok_access_token_missing');\n\nconst qualityScore = Number(parsed?.quality?.score ?? 0);\nlet trustScore = Math.max(0, Math.min(100, qualityScore * 10));\nif (qualityScore >= 8) trustScore += 5;\nif (qualityScore <= 6) trustScore -= 10;\nif (warnings.length > 0) trustScore -= 10 * warnings.length;\nif (validationIssues.length > 0) trustScore = 0;\ntrustScore = Math.max(0, Math.min(100, trustScore));\n\nreturn [{ json: { generatedAt: input.generatedAt || new Date().toISOString(), brandName: input.brandName, audience: input.audience, voice: input.voice, selectedPillar: input.selectedPillar, selectedTopic: input.selectedTopic, selectedAngle: input.selectedAngle, selectedCtaDirection: input.selectedCtaDirection, videoIdeaCandidates: Array.isArray(input.videoIdeaCandidates) ? input.videoIdeaCandidates : [], trustScore, complianceStatus: validationIssues.length === 0 && warnings.length === 0 ? 'pass' : 'review', validationIssues, warnings, parseError, theme: parsed?.theme ?? null, strategic_angle: parsed?.strategic_angle ?? null, content_strategy: parsed?.content_strategy ?? null, video_ideas: Array.isArray(parsed?.video_ideas) ? parsed.video_ideas : [], recommended_video_idea: parsed?.recommended_video_idea ?? null, publish_targets: Array.isArray(parsed?.publish_targets) ? parsed.publish_targets : ['x', 'linkedin', 'facebook', 'instagram', 'tiktok'], x: parsed?.x ?? null, linkedin: parsed?.linkedin ?? null, facebook: parsed?.facebook ?? null, instagram: parsed?.instagram ?? null, tiktok: parsed?.tiktok ?? null, quality: parsed?.quality ?? null, recommended_next_step: parsed?.recommended_next_step ?? 'approval_ready', compliance_notes: Array.isArray(parsed?.compliance_notes) ? parsed.compliance_notes : [], tiktokVideoReady, tiktokTokenReady, raw_output: typeof candidate === 'string' ? candidate : JSON.stringify(candidate) } }];"
      },
      "id": "bba94b7b-e288-4371-84ca-757d98ff1fce",
      "name": "Content QA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst hashtagsToString = (value) => Array.isArray(value) && value.length > 0 ? value.map((tag) => tag.startsWith('#') ? tag : `#${tag}`).join(' ') : '';\nconst joinParts = (...parts) => parts.filter(Boolean).join('\\n\\n');\n\nconst xFinalText = joinParts(input.x?.hook, input.x?.body, input.x?.cta, hashtagsToString(input.x?.hashtags));\nconst linkedinFinalText = joinParts(input.linkedin?.hook, input.linkedin?.body, input.linkedin?.cta, hashtagsToString(input.linkedin?.hashtags));\nconst facebookFinalText = joinParts(input.facebook?.hook, input.facebook?.body, input.facebook?.cta, hashtagsToString(input.facebook?.hashtags));\nconst instagramFinalCaption = joinParts(input.instagram?.caption, hashtagsToString(input.instagram?.hashtags));\nconst tiktokFinalCaption = joinParts(input.tiktok?.hook, input.tiktok?.caption, input.tiktok?.cta, hashtagsToString(input.tiktok?.hashtags));\n\nconst approvalSubject = `Approval needed: ${input.brandName} social package - ${input.selectedTopic}`;\nconst approvalSlackText = [\n  `*Approval needed:* ${input.brandName}`,\n  `*Topic:* ${input.selectedTopic}`,\n  `*Angle:* ${input.selectedAngle}`,\n  `*Trust score:* ${input.trustScore}`,\n  `*Compliance:* ${input.complianceStatus}`,\n  `*Video idea candidates:* ${(Array.isArray(input.videoIdeaCandidates) ? input.videoIdeaCandidates : []).join(' | ') || 'n/a'}`,\n  `*Recommended video idea:* ${input.recommended_video_idea || (Array.isArray(input.video_ideas) ? input.video_ideas[0] : 'n/a')}`,\n  `*TikTok ready:* ${input.tiktokVideoReady && input.tiktokTokenReady ? 'yes' : 'no'}`,\n  ``,\n  `*X draft:*`,\n  xFinalText,\n  ``,\n  `*LinkedIn draft:*`,\n  linkedinFinalText,\n  ``,\n  `*Facebook draft:*`,\n  facebookFinalText,\n  ``,\n  `*Instagram draft:*`,\n  instagramFinalCaption,\n  ``,\n  `*TikTok draft:*`,\n  tiktokFinalCaption,\n].join('\\n');\n\nreturn [{ json: { ...input, xFinalText, linkedinFinalText, facebookFinalText, instagramFinalCaption, tiktokFinalCaption, approvalSubject, approvalSlackText, reviewRecipient: input.reviewRecipient, approvalSlackChannelId: input.approvalSlackChannelId, senderEmail: input.senderEmail, tiktokReady: Boolean(input.tiktokVideoReady && input.tiktokTokenReady), videoIdeaCandidates: Array.isArray(input.videoIdeaCandidates) ? input.videoIdeaCandidates : [], recommended_video_idea: input.recommended_video_idea || (Array.isArray(input.video_ideas) ? input.video_ideas[0] : null), approvalSummary: { trustScore: input.trustScore, complianceStatus: input.complianceStatus, selectedTopic: input.selectedTopic, selectedAngle: input.selectedAngle, tiktokReady: Boolean(input.tiktokVideoReady && input.tiktokTokenReady) } } }];"
      },
      "id": "31892bf0-4cab-404c-b425-c19fed08e59b",
      "name": "Approval Packager",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        240
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ARG1ZQEH2",
          "mode": "list",
          "cachedResultName": "social-media-approvals"
        },
        "text": "={{ $json.approvalSlackText + '\\n\\nApprove: ' + $execution.resumeUrl + '?decision=approve' + '\\nReject: ' + $execution.resumeUrl + '?decision=reject' }}",
        "otherOptions": {}
      },
      "id": "3b1b139b-3b6c-4fd5-8e88-8c0f1d8ed7bc",
      "name": "Approval Request Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        16,
        240
      ],
      "webhookId": "1ff46c9e-6b28-4d64-a309-1135f64c8a59",
      "credentials": {
        "slackOAuth2Api": {
          "id": "hbRCgZYkERc0TLjm",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "responseMode": "lastNode",
        "limitWaitTime": true,
        "resumeAmount": 3,
        "resumeUnit": "days",
        "options": {}
      },
      "id": "aee3dd1e-5e79-43f2-a5df-f348bbc80c06",
      "name": "Approval Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        240
      ],
      "webhookId": "f2db0f53-7f0d-4f85-92df-5f6d6d3bda1d"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst candidate = [input.decision, input.query?.decision, input.body?.decision, input.queryParameters?.decision, input.request?.query?.decision, input.request?.body?.decision, input.data?.decision].find((value) => typeof value === 'string' && value.length > 0);\nconst decision = String(candidate || '').trim().toLowerCase();\nconst approved = ['approve', 'approved', 'yes', 'true', '1'].includes(decision);\nconst rejected = ['reject', 'rejected', 'no', 'false', '0'].includes(decision);\n\nreturn [{ json: { ...input, approvalDecision: approved ? 'approved' : rejected ? 'rejected' : 'unknown', approved, approvalReason: approved ? 'Human approved the package.' : rejected ? 'Human rejected the package.' : 'No explicit decision detected on the resume request.', approvalReceivedAt: new Date().toISOString() } }];"
      },
      "id": "cf4d0bbc-e67b-463a-b6d9-d78ae54b811c",
      "name": "Approval Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst auditSummary = {\n  workflowMode: 'daily',\n  runId: input.generatedAt || new Date().toISOString(),\n  approvalDecision: input.approvalDecision,\n  approved: Boolean(input.approved),\n  brandName: input.brandName,\n  selectedPillar: input.selectedPillar,\n  selectedTopic: input.selectedTopic,\n  selectedAngle: input.selectedAngle,\n  trustScore: input.trustScore,\n  complianceStatus: input.complianceStatus,\n  tiktokReady: Boolean(input.tiktokReady),\n  recommendedVideoIdea: input.recommended_video_idea || null,\n  videoIdeaCandidates: Array.isArray(input.videoIdeaCandidates) ? input.videoIdeaCandidates : [],\n  approvedAt: input.approvalReceivedAt || null\n};\n\nreturn [{ json: { ...input, auditSummary, auditLine: JSON.stringify(auditSummary, null, 2) } }];"
      },
      "id": "36eb36c7-7fb1-4c50-9176-5d6031c7e377",
      "name": "Run Audit Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        240
      ]
    },
    {
      "parameters": {
        "tableId": "social_media_run_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "runId",
              "fieldValue": "={{ $json.generatedAt }}"
            },
            {
              "fieldId": "workflowMode",
              "fieldValue": "daily"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.approved ? \"approved\" : ($json.approvalDecision || \"unknown\") }}"
            },
            {
              "fieldId": "brandName",
              "fieldValue": "={{ $json.brandName }}"
            },
            {
              "fieldId": "selectedPillar",
              "fieldValue": "={{ $json.selectedPillar }}"
            },
            {
              "fieldId": "selectedTopic",
              "fieldValue": "={{ $json.selectedTopic }}"
            },
            {
              "fieldId": "selectedAngle",
              "fieldValue": "={{ $json.selectedAngle }}"
            },
            {
              "fieldId": "trustScore",
              "fieldValue": "={{ $json.trustScore }}"
            },
            {
              "fieldId": "complianceStatus",
              "fieldValue": "={{ $json.complianceStatus }}"
            },
            {
              "fieldId": "approvalDecision",
              "fieldValue": "={{ $json.approvalDecision }}"
            },
            {
              "fieldId": "approved",
              "fieldValue": "={{ $json.approved }}"
            },
            {
              "fieldId": "recommendedVideoIdea",
              "fieldValue": "={{ $json.recommended_video_idea }}"
            },
            {
              "fieldId": "videoIdeaCandidates",
              "fieldValue": "={{ JSON.stringify($json.videoIdeaCandidates || []) }}"
            },
            {
              "fieldId": "approvedAt",
              "fieldValue": "={{ $json.approvalReceivedAt || \"\" }}"
            },
            {
              "fieldId": "loggedAt",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "afbb58a2-fab5-48f8-af25-a134f41287d8",
      "name": "Daily Run Log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        832,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "approved-check",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc77c9b6-0e44-4506-ab62-8682a957b5da",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        240
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.xFinalText }}",
        "additionalFields": {}
      },
      "id": "7b90422b-5cb4-4f2a-9015-571ae611429a",
      "name": "X Publish",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1568,
        -160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, publishPlatform: 'X', publishSucceeded: !input.error, publishErrorText: input.error?.message || input.error || '' } }];"
      },
      "id": "b1b09db0-6199-4ce4-8076-2341428c6222",
      "name": "X Publish Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "x-publish-failed",
              "leftValue": "={{ !$json.publishSucceeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9364e7bb-3faa-4641-95f3-0fe33e518bf2",
      "name": "X Publish Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1888,
        -160
      ]
    },
    {
      "parameters": {
        "person": "={{ $json.linkedinPersonId }}",
        "text": "={{ $json.linkedinFinalText }}",
        "additionalFields": {}
      },
      "id": "9d8d358b-1c4d-4a64-a86f-9a4b6087004d",
      "name": "LinkedIn Publish",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1568,
        112
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, publishPlatform: 'LinkedIn', publishSucceeded: !input.error, publishErrorText: input.error?.message || input.error || '' } }];"
      },
      "id": "87147dd2-b23c-46fa-add8-5c4341653384",
      "name": "LinkedIn Publish Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "linkedin-publish-failed",
              "leftValue": "={{ !$json.publishSucceeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6b22307-f3e1-4576-8344-21642c5ecdaf",
      "name": "LinkedIn Publish Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1872,
        112
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $json.facebookPageId }}",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.facebookFinalText }}"
              }
            ]
          }
        }
      },
      "id": "ac276f8d-6552-49a5-966b-418894f38290",
      "name": "Facebook Publish",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1552,
        272
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, publishPlatform: 'Facebook', publishSucceeded: !input.error, publishErrorText: input.error?.message || input.error || '' } }];"
      },
      "id": "52eb2171-9f3d-454d-88ad-c3c45ad61bbb",
      "name": "Facebook Publish Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        256
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "facebook-publish-failed",
              "leftValue": "={{ !$json.publishSucceeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1b41088-49a7-407b-b56a-d22eb28c0aff",
      "name": "Facebook Publish Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1856,
        288
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $json.instagramBusinessId }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.instagramImageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.instagramFinalCaption }}"
              }
            ]
          }
        }
      },
      "id": "4d602bbe-34f5-47c2-836e-b6333d96b023",
      "name": "Instagram Create Container",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1440,
        416
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $json.instagramBusinessId }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "id": "ee193af1-7900-4b0c-92b5-3b7e5c66978f",
      "name": "Instagram Publish",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2032,
        496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, publishPlatform: 'Instagram', publishSucceeded: !input.error, publishErrorText: input.error?.message || input.error || '' } }];"
      },
      "id": "37cf30df-8b73-4e27-90b8-c064743fcc6e",
      "name": "Instagram Publish Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "instagram-publish-failed",
              "leftValue": "={{ !$json.publishSucceeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "170dbacd-0082-4879-86db-d764a46f4a99",
      "name": "Instagram Publish Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2528,
        464
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"post_info\": {\n    \"title\": \"{{$json.tiktokCaption || $json.tiktokFinalCaption}}\",\n    \"privacy_level\": \"{{$json.tiktokPrivacyLevel}}\",\n    \"disable_duet\": {{$json.tiktokDisableDuet}},\n    \"disable_comment\": {{$json.tiktokDisableComment}},\n    \"disable_stitch\": {{$json.tiktokDisableStitch}}\n  },\n  \"source_info\": {\n    \"source\": \"PULL_FROM_URL\",\n    \"video_url\": \"{{$json.tiktokVideoUrl}}\"\n  }\n}",
        "headerParametersJson": "{\n  \"Authorization\": \"Bearer {{$json.tiktokAccessToken}}\",\n  \"Content-Type\": \"application/json; charset=UTF-8\"\n}"
      },
      "id": "926e51b8-48a7-4acb-94d4-25c1352672b0",
      "name": "TikTok Publish Init",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2240,
        688
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{ json: { ...input, publishPlatform: 'TikTok', publishSucceeded: !input.error, publishErrorText: input.error?.message || input.error || '' } }];"
      },
      "id": "a734d8f2-0b49-4193-a653-b317a6d9f116",
      "name": "TikTok Publish Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "tiktok-publish-failed",
              "leftValue": "={{ !$json.publishSucceeded }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d5a96d18-c957-4703-9894-f40db9470936",
      "name": "TikTok Publish Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2528,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "tiktok-ready",
              "leftValue": "={{ $json.tiktokReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "874cfc90-5d7a-4abd-809e-8b79d9b91c78",
      "name": "TikTok Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1968,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { skipped: true, reason: 'TikTok credentials or video URL are missing, so the TikTok branch stayed draft-only.', ...$input.first().json } }];"
      },
      "id": "bcf82652-11f4-40f9-88d6-2ceb35c0e311",
      "name": "TikTok Draft Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        1040
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AR91YNGVB",
          "mode": "list",
          "cachedResultName": "social-media-alerts"
        },
        "text": "={{ \"*Approval rejected:* \" + $json.brandName + \"\\n*Topic:* \" + ($json.selectedTopic || \"n/a\") + \"\\n*Reason:* \" + ($json.approvalReason || \"n/a\") + \"\\n*Trust score:* \" + $json.trustScore }}",
        "otherOptions": {}
      },
      "id": "c7929cc4-b22d-4d14-9d08-7e8d0c246b29",
      "name": "Rejection Notice Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1168,
        928
      ],
      "webhookId": "865e8ee9-30aa-48c5-945a-6b5cdec55cd9",
      "credentials": {
        "slackOAuth2Api": {
          "id": "hbRCgZYkERc0TLjm",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5.4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "b099eb50-8a29-4dbe-9a87-5654eb1c72cc",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -624,
        496
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AR91YNGVB",
          "mode": "list",
          "cachedResultName": "social-media-alerts"
        },
        "text": "={{ \"*Publish failed:* \" + $json.publishPlatform + \" for \" + $json.brandName + \"\\n*Topic:* \" + ($json.selectedTopic || \"n/a\") + \"\\n*Error:* \" + ($json.publishErrorText || JSON.stringify($json.error || {})) }}",
        "otherOptions": {}
      },
      "id": "748a52ea-7143-4bbb-9448-3122915dbe40",
      "name": "Publish Failure Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        2992,
        -16
      ],
      "webhookId": "f5998d16-b13b-4bd4-acce-f4ebe0383ddd",
      "credentials": {
        "slackOAuth2Api": {
          "id": "hbRCgZYkERc0TLjm",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst safeSlug = String(input.brandName || 'brand')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-+|-+$/g, '')\n  .slice(0, 32) || 'brand';\nconst runKey = String(input.generatedAt || new Date().toISOString()).replace(/[^0-9a-z]/gi, '').slice(0, 24);\nconst assetBucket = 'social-media-assets';\n\nconst imagePrompt = [\n  `Create a high-end vertical social image for ${input.brandName}.`,\n  `Topic: ${input.selectedTopic}.`,\n  `Style: modern, clean, editorial, client-ready, natural light, realistic, no watermark, no logo, no text overlay.`,\n  `The image should feel trustworthy and polished for Instagram and Facebook.`\n].join(' ');\n\nconst videoPrompt = [\n  `Create a short vertical social video for ${input.brandName}.`,\n  `Topic: ${input.selectedTopic}.`,\n  `Recommended concept: ${input.recommended_video_idea || input.video_ideas?.[0] || 'create a practical, helpful short-form video'}.`,\n  `Style: polished, natural, platform-native, no watermark, no logo, no text overlay, clear pacing, suitable for TikTok.`,\n  `Keep it concise, engaging, and easy to approve.`\n].join(' ');\n\nconst instagramImageObjectPath = `${safeSlug}/${runKey}-instagram.png`;\nconst tiktokVideoObjectPath = `${safeSlug}/${runKey}-tiktok.mp4`;\n\nreturn [{ json: { ...input, assetBucket, assetRunKey: runKey, safeSlug, instagramImagePrompt: imagePrompt, tiktokVideoPrompt: videoPrompt, instagramImageObjectPath, tiktokVideoObjectPath, imageUploadMimeType: 'image/png', videoUploadMimeType: 'video/mp4', videoPollAttempt: 0 } }];"
      },
      "id": "3fed4e5e-7054-4609-a507-b209a03b8978",
      "name": "Asset Brief Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1064,
        496
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "headerParametersJson": "{\n  \"Authorization\": \"Bearer {{$env.OPENAI_API_KEY}}\",\n  \"Content-Type\": \"application/json\"\n}",
        "bodyParametersJson": "{\n  \"model\": \"gpt-image-1.5\",\n  \"prompt\": \"={{ $json.instagramImagePrompt }}\",\n  \"size\": \"1024x1536\",\n  \"quality\": \"medium\",\n  \"n\": 1,\n  \"response_format\": \"b64_json\"\n}"
      },
      "id": "880dba69-5479-48e5-8430-341475a80dd0",
      "name": "OpenAI Image Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1280,
        496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst base64 = input?.data?.[0]?.b64_json || input?.data?.[0]?.base64 || input?.data?.[0]?.image_base64;\n\nif (!base64) {\n  return [{ json: { ...input, imagePrepareError: 'OpenAI image generation did not return base64 image data.' } }];\n}\n\nconst binary = await this.helpers.prepareBinaryData(\n  Buffer.from(base64, 'base64'),\n  'instagram-image.png',\n  'image/png'\n);\n\nreturn [{ json: { ...input }, binary: { data: binary } }];"
      },
      "id": "1e68b046-ec90-4e38-9567-34024c35f792",
      "name": "Download Instagram Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/storage/v1/object/' + $('Asset Brief Builder').first().json.assetBucket + '/' + $('Asset Brief Builder').first().json.instagramImageObjectPath }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "apikey",
              "value": "{{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "37e64d10-ecda-49e4-8c19-c2ad05ec6e3a",
      "name": "Upload Instagram Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/videos",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "sora-2"
            },
            {
              "name": "prompt",
              "value": "={{ $json.tiktokVideoPrompt }}"
            },
            {
              "name": "input_reference[image_url]",
              "value": "={{ $env.SUPABASE_URL + '/storage/v1/object/public/' + $('Asset Brief Builder').first().json.assetBucket + '/' + $('Asset Brief Builder').first().json.instagramImageObjectPath }}"
            },
            {
              "name": "seconds",
              "value": "8"
            },
            {
              "name": "size",
              "value": "720x1280"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.OPENAI_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba8e6c22-85df-45b7-a104-8577ffc95a2a",
      "name": "OpenAI Video Create",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        720
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "amount": 180
      },
      "id": "9fb5929d-3e23-416f-8129-01a8e9df68d5",
      "name": "Wait TikTok Video",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1504,
        720
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ \"https://api.openai.com/v1/videos/\" + $json.id }}",
        "responseFormat": "json",
        "options": {},
        "headerParametersJson": "{\n  \"Authorization\": \"Bearer {{$env.OPENAI_API_KEY}}\"\n}"
      },
      "id": "c5885e35-6d46-4e1c-abf6-631c62d277e5",
      "name": "Get TikTok Video Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        720
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst videoPollAttempt = Number(input.videoPollAttempt || 0) + 1;\nreturn [{ json: { ...input, videoPollAttempt } }];"
      },
      "id": "74232e4f-e010-48a5-b71a-095c3f777cec",
      "name": "TikTok Video Retry Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "78357e42-205c-4196-93fa-62a7e6f80756",
              "leftValue": "={{ $json.videoPollAttempt }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "smallerEqual",
                "name": "filter.operator.lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d2fc88e9-6c85-4a23-a2dd-f976a082d6bc",
      "name": "TikTok Video Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        880
      ]
    },
    {
      "parameters": {
        "amount": 180
      },
      "id": "f5ea5a59-a5b9-49bb-a5df-45c802ed3134",
      "name": "Wait TikTok Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2380,
        880
      ]
    },
    {
      "parameters": {
        "url": "={{ \"https://api.openai.com/v1/videos/\" + $json.id + \"/content?variant=video\" }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "bbc8ea95-849b-4e72-a1e9-65db05900c07",
      "name": "Download TikTok Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1940,
        720
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/storage/v1/object/' + $('Asset Brief Builder').first().json.assetBucket + '/' + $('Asset Brief Builder').first().json.tiktokVideoObjectPath }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "apikey",
              "value": "{{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "adf9b7c6-3fcf-4113-9498-09ef65293c7f",
      "name": "Upload TikTok Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        720
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const getNodeJson = (name) => {\n  try {\n    return $(name).first().json;\n  } catch (error) {\n    return {};\n  }\n};\n\nconst brief = getNodeJson('Asset Brief Builder');\nconst imageUpload = getNodeJson('Upload Instagram Image');\nconst videoStatus = getNodeJson('Get TikTok Video Status');\nconst videoDownload = getNodeJson('Download TikTok Video');\nconst videoUpload = getNodeJson('Upload TikTok Video');\nconst fallback = $input.first().json;\n\nconst supabaseUrl = String($env.SUPABASE_URL || '').replace(/\\/$/, '');\nconst imageReady = Boolean(brief.instagramImageObjectPath && !imageUpload.error && !brief.imagePrepareError);\nconst videoReady = Boolean(brief.tiktokVideoObjectPath && ['completed', 'succeeded'].includes(videoStatus.status) && !videoDownload.error && !videoUpload.error);\n\nconst instagramImageUrl = imageReady\n  ? `${supabaseUrl}/storage/v1/object/public/${brief.assetBucket}/${brief.instagramImageObjectPath}`\n  : (brief.instagramImageUrl || fallback.instagramImageUrl || '');\nconst tiktokVideoUrl = videoReady\n  ? `${supabaseUrl}/storage/v1/object/public/${brief.assetBucket}/${brief.tiktokVideoObjectPath}`\n  : (brief.tiktokVideoUrl || fallback.tiktokVideoUrl || '');\n\nreturn [{\n  json: {\n    ...fallback,\n    ...brief,\n    instagramImageUrl,\n    tiktokVideoUrl,\n    assetStatus: imageReady && videoReady ? 'ready' : (imageReady || videoReady ? 'partial' : 'failed'),\n    assetGeneratedAt: new Date().toISOString(),\n    imageGenerationReady: imageReady,\n    videoGenerationReady: videoReady,\n    videoJobStatus: videoStatus.status || 'unknown'\n  }\n}];"
      },
      "id": "13014d9d-2ef0-4934-975c-34e635c9e2f1",
      "name": "Generated Media Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const fallback = $input.first().json;\nlet brief = {};\ntry {\n  brief = $('Asset Brief Builder').first().json;\n} catch (error) {\n  brief = {};\n}\nreturn [{ json: { ...fallback, ...brief, publishPlatform: 'TikTok', publishSucceeded: false, publishErrorText: 'TikTok video generation did not complete in time.' } }];"
      },
      "id": "a07caafa-5e32-46b5-9a92-c254357ef8e7",
      "name": "Mark TikTok Video Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5f76d4d-7f76-4e0f-a39f-6b2c67d5d3bb",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9d8d7c0c-df7c-42e6-b7c1-9a2d3d6d8f1a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "8d2e4f6a-8d4f-4dd8-8ff9-0d0f6f4a93cf",
      "name": "TikTok Video Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1940,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b8ec6f5f-8df6-42b5-8db8-9f5e2d6e65d1",
              "leftValue": "={{ $json.instagramImageUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "name": "filter.operator.notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d3f14b92-0d6a-4c67-8f57-3a97d0c6a0b1",
      "name": "Instagram Publish Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f4d8d0b-2c29-4c8b-a5c2-cf7b89a7d6b4",
              "leftValue": "={{ $json.tiktokVideoUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "name": "filter.operator.notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6c7f6e46-0c53-4f0f-9cc5-c7d6b8136f74",
      "name": "TikTok Publish Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        688
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Brand Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand Profile": {
      "main": [
        [
          {
            "node": "Content Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Planner": {
      "main": [
        [
          {
            "node": "Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Generator": {
      "main": [
        [
          {
            "node": "Content QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content QA": {
      "main": [
        [
          {
            "node": "Approval Packager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Packager": {
      "main": [
        [
          {
            "node": "Approval Request Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Request Slack": {
      "main": [
        [
          {
            "node": "Approval Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Wait": {
      "main": [
        [
          {
            "node": "Approval Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Decision": {
      "main": [
        [
          {
            "node": "Run Audit Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Audit Summary": {
      "main": [
        [
          {
            "node": "Daily Run Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Run Log": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "X Publish Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Publish Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Publish Context",
            "type": "main",
            "index": 0
          },
          {
            "node": "Asset Brief Builder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejection Notice Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X Publish Context": {
      "main": [
        [
          {
            "node": "X Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X Publish": {
      "main": [
        [
          {
            "node": "X Publish Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Publish Context": {
      "main": [
        [
          {
            "node": "LinkedIn Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Publish": {
      "main": [
        [
          {
            "node": "LinkedIn Publish Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Publish Context": {
      "main": [
        [
          {
            "node": "Facebook Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Publish": {
      "main": [
        [
          {
            "node": "Facebook Publish Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asset Brief Builder": {
      "main": [
        [
          {
            "node": "OpenAI Image Generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Image Generate": {
      "main": [
        [
          {
            "node": "Download Instagram Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Instagram Image": {
      "main": [
        [
          {
            "node": "Upload Instagram Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Instagram Image": {
      "main": [
        [
          {
            "node": "OpenAI Video Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Video Create": {
      "main": [
        [
          {
            "node": "Wait TikTok Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait TikTok Video": {
      "main": [
        [
          {
            "node": "Get TikTok Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TikTok Video Status": {
      "main": [
        [
          {
            "node": "TikTok Video Complete?",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok Video Retry Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Video Retry Count": {
      "main": [
        [
          {
            "node": "TikTok Video Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Video Retry?": {
      "main": [
        [
          {
            "node": "Wait TikTok Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark TikTok Video Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait TikTok Retry": {
      "main": [
        [
          {
            "node": "Get TikTok Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download TikTok Video": {
      "main": [
        [
          {
            "node": "Upload TikTok Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload TikTok Video": {
      "main": [
        [
          {
            "node": "Generated Media Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark TikTok Video Failed": {
      "main": [
        [
          {
            "node": "Generated Media Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Video Complete?": {
      "main": [
        [
          {
            "node": "Download TikTok Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TikTok Video Retry Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generated Media Assets": {
      "main": [
        [
          {
            "node": "Instagram Publish Ready?",
            "type": "main",
            "index": 0
          },
          {
            "node": "TikTok Publish Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Publish Ready?": {
      "main": [
        [
          {
            "node": "Instagram Publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish Failure Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Publish": {
      "main": [
        [
          {
            "node": "Instagram Publish Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Publish Ready?": {
      "main": [
        [
          {
            "node": "TikTok Publish Init",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish Failure Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Publish Init": {
      "main": [
        [
          {
            "node": "TikTok Publish Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X Publish Failed?": {
      "main": [
        [
          {
            "node": "Publish Failure Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Publish Failed?": {
      "main": [
        [
          {
            "node": "Publish Failure Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Publish Failed?": {
      "main": [
        [
          {
            "node": "Publish Failure Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Publish Failed?": {
      "main": [
        [
          {
            "node": "Publish Failure Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Publish Failed?": {
      "main": [
        [
          {
            "node": "Publish Failure Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create Container": {
      "main": [
        [
          {
            "node": "Instagram Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Ready?": {
      "main": [
        [
          {
            "node": "TikTok Publish Init",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TikTok Draft Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Publish Context": {
      "main": [
        [
          {
            "node": "Instagram Publish Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Publish Context": {
      "main": [
        [
          {
            "node": "TikTok Publish Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "60a0b679-b5b2-4ebf-90fb-f1fe175183e2",
  "meta": {
    "instanceId": "c556b463c21b3cd46f5926696ed84e0ec276d75f80af743342577ec01c727f93"
  },
  "id": "a0FHy1VeHAMSXU0A",
  "tags": []
}
